.header {
    text-align: center;
    border-bottom: 1px solid #cccccc;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
    border-bottom: #7b614c;
}

.header__logo {
    color: #7b614c;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.contact-form__content {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

.contact-form__heading h2 {
    color: #7b614c;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
}

.confirm-table {
    width: 100%;
    border: 1px solid #ddd;
    text-align: left;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__header {
    padding: 10px 30px;
    width: 30%;
    border-bottom: 1px solid #ddd;
    background-color: #caaa90;
    color: #fff;
}

.confirm-table__text {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.confirm-table__text input {
    width: 70%;
    outline: none;
    border: none;
}

.form__button {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.form__button-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    background: #7b614c;
    color: #fff;
    cursor: pointer;
}
